@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
  font-family: 'GothicA1';
  src: url('/fonts/GothicA1.ttf');
}

:root {
  font-family: 'GothicA1', system-ui;
  line-height: 22px;
  font-weight: 400;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #000000;
  background-color: #ffffff;
  cursor: default;
  /* overflow-x: hidden; */
  /* letter-spacing: -0.5px; */
  word-break: keep-all;
}

@theme {
  --color-primary: #8f95ac;
  --color-secondary: #e8eaf2;
  --color-darkgray: #353840;
  --color-gray: #9fa5ba;
  --color-linkblue: #6a83d5;
  --color-background: #ffffff;
  --color-foreground: #000000;
}

/* TOOLTIP */
[data-tooltip] {
  position: relative;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  transition: all 0.2s ease;
  font-size: 12px;
  letter-spacing: -1px;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  height: 27px;
  position: absolute;
  top: -20px;
  padding: 5px 10px;
  border-radius: 12px;
  color: #fff;
  background: #47474788;
  box-shadow: 0 3px 8px rgba(165, 165, 165, 0.5);
}
[data-tooltip]:after {
  content: '';
  border-left: 5px solid transparent;
  top: 2px;
  border-right: 5px solid transparent;
  border-top: 5px solid #47474788;
}
[data-tooltip]:not([data-tooltip='']):hover:before {
  visibility: visible;
  opacity: 1;
  top: -30px;
}
[data-tooltip]:not([data-tooltip='']):hover:after {
  visibility: visible;
  opacity: 1;
  top: -3px;
}
